version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: app/backend/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./models:/app/models
    environment:
      - MODEL_DIR=/app/models

  frontend:
    build:
      context: .
      dockerfile: app/frontend/Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - backend
